.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}


.fighter-preview___property {
  color: #07222C;
}

.fighter-preview___left {

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffdfa7;
  border: 5px solid #9a5308;
  animation: fighterInfo 1200ms linear;
}

.fighter-preview___right {

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffdfa7;
  overflow: hidden;
  animation: fighterInfo 1200ms linear;
}

.fighter-preview___right:hover {

  background: #cbe4f8;
  border: 5px solid #9a5308;
}
 